@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
    --font-raleway: "Raleway", sans-serif;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
  }
}

input[type="search"] {
  background: #fff url("/images/search.svg") no-repeat left 8px center;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* react select */
.react-select__control {
  border-radius: 4px !important;
  height: 40px !important;
}

.react-select__control--is-focused {
  border-color: hsl(var(--ring)) !important;
  border-width: 2px !important;
  outline: none !important;
  box-shadow: none !important;
}
